
@{
    ViewData["Title"] = "User";
   // Layout = "~/Pages/_UserLayout.cshtml";
}


<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" rel="stylesheet" />
<script src='https://fullcalendar.io/js/fullcalendar-2.1.1/lib/moment.min.js'></script>
<script src='https://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery.min.js'></script>
<script src="https://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery-ui.custom.min.js"></script>
<script src='https://fullcalendar.io/js/fullcalendar-2.1.1/fullcalendar.min.js'></script>
@* 
<link href="Content/bootstrap.css" rel="stylesheet" />


<script src="Scripts/bootstrap.min.js"></script> *@
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/TMSSDemo.styles.css" asp-append-version="true" />
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
<link href="~/css/style.css" rel="stylesheet" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<section class="content" style="background-color:white">
    <div class="row">
        <div class="col-xs-12">
            <div id="calendar" style="width: 1200px; margin-left: 105px;">
            </div>
        </div>

    </div>


    <!-- Add Event Modal -->
    <div class="modal fade" id="addEventModal" tabindex="-1" role="dialog" aria-labelledby="addEventModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addEventModalLabel">Add Event</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="frm">

                        <div class="form-group">
                            <label for="eventStartDate">Start Date</label>
                            <input type="date" class="form-control" id="eventStartDate" name="startDate" required>
                        </div>
                        <div class="form-group">
                            <label for="eventStartTime">Start Time</label>
                            <input type="time" class="form-control" id="eventStartTime" name="startTime" required>
                        </div>
                        <div class="form-group">
                            <label for="eventEndTime">End Time</label>
                            <input type="time" class="form-control" id="eventEndTime" name="endTime" required>
                        </div>
                        <!-- Other event fields... -->
                        <button type="button" id="addEventForm" class="btn btn-primary">Add Event</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $(document).ready(function () {
            InitializeCalendar();
        });
        function InitializeCalendar() {
            $('#calendar').empty();
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                //weekNumbers: true,
                height: 600,
                width: 100,
                allDayText: 'Events',
                selectable: true,
                overflow: 'auto',
                editable: true,
                firstDay: 1,
                slotEventOverlap: true,
                dayClick: function (date, jsEvent, view) {
                    // Show a modal or form to add a new event
                    $('#addEventModal').modal('show'); // Assuming you have a modal with the ID 'addEventModal'
                    $('#eventStartDate').val(date.format()); // Pre-fill the selected date in the form
                }
            });
        }

        //function InitializeCalendar() {
        //    debugger;
        //    $.ajax({
        //        type: "POST",
        //        contentType: "application/json",
        //        url: "/Default.aspx/GetCalendarData",
        //        dataType: "json",
        //        success: function (data) {
        //            debugger;

        //            $('#calendar').empty();
        //            $('#calendar').fullCalendar({
        //                header: {
        //                    left: 'prev,next today',
        //                    center: 'title',
        //                    right: 'month,agendaWeek,agendaDay'
        //                },
        //                //weekNumbers: true,
        //                height: 600,
        //                width: 100,
        //                allDayText: 'Events',
        //                selectable: true,
        //                overflow: 'auto',
        //                editable: true,
        //                firstDay: 1,
        //                slotEventOverlap: true,
        //                dayClick: function (date, jsEvent, view) {
        //                    // Show a modal or form to add a new event
        //                    $('#addEventModal').modal('show'); // Assuming you have a modal with the ID 'addEventModal'
        //                    $('#eventStartDate').val(date.format()); // Pre-fill the selected date in the form
        //                },
        //                events: $.map(data.d, function (item, i) {

        //                    //-- here is the event details to show in calendar view.. the data is retrieved via ajax call will be accessed here
        //                    var eventStartDate = new Date(parseInt(item.slotStartTime.substr(6)));
        //                    var eventEndDate = new Date(parseInt(item.slotEndTime.substr(6)));

        //                    var event = new Object();
        //                    event.id = item.slotID;
        //                    //event.start = new Date(eventStartDate.getFullYear(), eventStartDate.getMonth(), eventStartDate.getDate(), eventStartDate.getHours(), 0, 0, 0);
        //                    //event.end = new Date(eventEndDate.getFullYear(), eventEndDate.getMonth(), eventEndDate.getDate(), eventEndDate.getHours() + 1, 0, 0, 0);
        //                    event.start = eventStartDate;
        //                  //  event.end = eventEndDate;

        //                    event.title = formatAMPM(eventStartDate) + "-" + formatAMPM(eventEndDate);
        //                    //event.allDay = item.AllDayEvent;
        //                    event.backgroundColor = item.color;
        //                    event.allDay= true;
        //                    return event;
        //                })
        //            });
        //        },
        //        error: function (XMLHttpRequest, textStatus, errorThrown) {
        //            //-- log error
        //        }
        //    });
        //}

        $('#addEventForm').on('click', function (e) {
            debugger;

            var formData = $('#frm').serializeArray();
            var newEvent = {
                slotDate: new Date($('#eventStartDate').val()),
                slotStartTime: $('#eventStartDate').val() + ' ' + $('#eventStartTime').val(),
                slotEndTime: $('#eventStartDate').val() + ' ' + $('#eventEndTime').val(),
                // Other event properties...
            };

            // Send the new event data to the server using Ajax
            $.ajax({
                url: 'Default.aspx/SaveEvent', // Replace with the actual server endpoint
                method: 'POST',
                data: JSON.stringify({ newEvent: newEvent }),
                contentType: "application/json",

                dataType: "json",
                success: function (response) {
                    if (response.d == "success") {
                        // Event saved successfully

                        $('#calendar').fullCalendar('destroy');

                        $('#addEventModal').modal('hide');
                        $('#eventStartDate').val('');
                        $('#eventStartTime').val('');
                        $('#eventEndTime').val('');
                        InitializeCalendar();
                    } else {
                        // Handle error response
                        // Display error message, etc.
                    }
                },
                error: function () {
                    // Handle Ajax error
                    // Display error message, etc.
                }
            });
        });

    })
    function formatAMPM(date) {
        var hours = date.getHours();
        var minutes = date.getMinutes();
        var ampm = hours >= 12 ? 'pm' : 'am';
        hours = hours % 12;
        hours = hours ? hours : 12; // the hour '0' should be '12'
        minutes = minutes < 10 ? '0' + minutes : minutes;
        var strTime = hours + ':' + minutes + ' ' + ampm;
        return strTime;
    }
</script>