@model TMSS.Web.Models.IncidentViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<h3>Add Incident</h3>
<hr />
<form asp-action="Create">
    <div class="container">
<div class="row">
    <div class="col-md-4">
       
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PatientName" class="control-label"></label>
                <input asp-for="PatientName" class="form-control" />
                <span asp-validation-for="PatientName" class="text-danger"></span>
            </div>
         @*    <div class="form-group">
                <label asp-for="PatientId" class="control-label"></label>
                <input asp-for="PatientId" class="form-control" />
                <span asp-validation-for="PatientId" class="text-danger"></span>
            </div> *@
          @*   <div class="form-group">
                <label asp-for="ProcedureId" class="control-label"></label>
                <input asp-for="ProcedureId" class="form-control" />
                <span asp-validation-for="ProcedureId" class="text-danger"></span>
            </div> *@
           
          @*   <div class="form-group">
                <label asp-for="ClinicId" class="control-label"></label>
                <input asp-for="ClinicId" class="form-control" />
                <span asp-validation-for="ClinicId" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="ClinicName" class="control-label"></label>
                <input asp-for="ClinicName" class="form-control" />
                <span asp-validation-for="ClinicName" class="text-danger"></span>
            </div>
         @*    <div class="form-group">
                <label asp-for="SurgeonId" class="control-label"></label>
                <input asp-for="SurgeonId" class="form-control" />
                <span asp-validation-for="SurgeonId" class="text-danger"></span>
            </div> *@
           
          
          @*   <div class="form-group">
                <label asp-for="ComplicationId" class="control-label"></label>
                <input asp-for="ComplicationId" class="form-control" />
                <span asp-validation-for="ComplicationId" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="IncidentDetails" class="control-label"></label>
                <textarea asp-for="IncidentDetails" class="form-control"></textarea>
                <span asp-validation-for="IncidentDetails" class="text-danger"></span>
            </div>
           
      
    </div>
    <div class="col-md-4">
            <div class="form-group">
                <label asp-for="ProcedureName" class="control-label"></label>
                <input asp-for="ProcedureName" class="form-control" />
                <span asp-validation-for="ProcedureName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Complication" class="control-label"></label>
                <input asp-for="Complication" class="form-control" />
                <span asp-validation-for="Complication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SurgeonName" class="control-label"></label>
                <input asp-for="SurgeonName" class="form-control" />
                <span asp-validation-for="SurgeonName" class="text-danger"></span>
            </div>
            
    </div>
    
</div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" value="Save Incident" class="btn btn-primary" />
            </div>
        </div>
</div>
    </div>
</form>
<br />
@* <div class="row">
    <div class="col-md-4"> *@
    @await Html.PartialAsync("~/Views/Incident/Get.cshtml")
@* </div>
</div> *@

@* <div>
    <a asp-action="Index">Back to List</a>
</div> *@

@* @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} *@
