@model TMSS.Web.Models.SurgeonViewModel


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>Add Surgeon</h4>
<hr />
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="https://www.jqueryscript.net/demo/jQuery-Plugin-For-Multi-Select-List-with-Checkboxes-MultiSelect/jquery.multiselect.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script src="https://www.jqueryscript.net/demo/jQuery-Plugin-For-Multi-Select-List-with-Checkboxes-MultiSelect/jquery.multiselect.js"></script>


    <style>
        body {
            font-family: 'Open Sans' Arial, Helvetica, sans-serif
        }

        ul,
        li {
            margin: 0;
            padding: 0;
            list-style: nont;
        }

        .label {
            color: #000;
            font-size: 16px;
        }

        .container {
            max-width: 100%;
        }
    </style>


</head>
<body>
    @using (Html.BeginForm("Create", "Surgeon", FormMethod.Post))
    {
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="SurgeonFirstName" class="control-label">First Name</label>
                        <input asp-for="SurgeonFirstName" class="form-control" />
                        <span asp-validation-for="SurgeonFirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SurgeonLastName" class="control-label">Last Name</label>
                        <input asp-for="SurgeonLastName" class="form-control" />
                        <span asp-validation-for="SurgeonLastName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Speciality" class="control-label">Speciality</label>
                        <input asp-for="Speciality" class="form-control" />
                        <span asp-validation-for="Speciality" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="DatePPGranted" class="control-label">DatePPGranted</label>
                        <input asp-for="DatePPGranted" class="form-control" />
                        <span asp-validation-for="DatePPGranted" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="DateStartedFirstCase" class="control-label">DateStartedFirstCase</label>
                        <input asp-for="DateStartedFirstCase" class="form-control" />
                        <span asp-validation-for="DateStartedFirstCase" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ALSDate" class="control-label">ALSDate</label>
                        <input asp-for="ALSDate" class="form-control" />
                        <span asp-validation-for="ALSDate" class="text-danger"></span>
                    </div>
                    <br />

                    <div class="form-group">
                        <label class="control-label">Procedure Name</label><br />
                        @Html.DropDownListFor(m => m.ProcedureId, (IEnumerable<SelectListItem>)Model.LstProcedures, "Select a Procedure", new { @id = "procedureDropdownId",@onchange="onChangeFunction()",style="width: 380px;"})
                    </div>
                    <br />
                    <div class="form-group">
                        <label class="control-label">Clinic Name</label>  <br />
                        @*                         @Html.ListBoxFor(model => model.SelectedClinicIds, (IEnumerable<SelectListItem>)Model.Clinics ,new { @class = "form-control", @multiple = "multiple", @id = "selectTestId" })
                    *@
                        @*                         @Html.DropDownListFor(m => m.SelectedClinicIds, new SelectList(Model.Clinics, "ClinicId", "ClinicName"), new {@multiple="multiple",@placeholder="Please select Client", @class="form-control" })
                    *@

                        @Html.ListBoxFor(model => model.SelectedClinicIds,new MultiSelectList(Model.Clinics,"Value", "Text"), new { @class = "form-control", multiple = "multiple", id = "selectTestId" })

                    </div>
                    @* <div>

                <select class="listbox" id="selectTestId" multiple>
                <option>Select Clinic</option>
                </select>
                </div> *@

                    <br />
                    <div class="form-group">
                        <input type="submit" id="btnGetClinics" value="Create" onclick="fnCreateProcAndClinicDetails()" class="btn btn-primary" />
@*                         <span class="successfully-saved"><i class="fa fa-thumbs-up"></i>Successfully Saved!</span>
 *@                    </div>
                </form>
            </div>
        </div>
    }


    <script type="text/javascript">

        // $(document).ready(function () {
        // $('select[multiple]').multiselect({
        //     columns: 1,
        //     placeholder: 'Select options'

        // });

        //checkList.multiselect("rebuild");

        // $("#selectTestId").multiselect({
        //     columns: 1,
        //     placeholder: 'Select options'
        // });
        //checkListTest.multiselect("rebuild");
        //});

        function onChangeFunction() {
            var selectedProcedureId = $("#procedureDropdownId :selected").text();

            $.ajax({
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                url: '/Surgeon/GetClinicbyProcedure',
                data: { ProcedureName: selectedProcedureId },
                type: 'GET',
                success: function (data) {
                    alert(selectedProcedureId);
                    $("#SelectedClinicIds").attr('disabled', false);
                    // $("#selectTestId").attr('disabled', false);
                    // var clinicDropdown = $("#SelectedClinicIds").empty();

                    // alert(clinicDropdown);
                    // clinicDropdown.empty();
                    //  var clinics = JSON.stringify(_clinics);
                    // var stringify = JSON.parse(clinics);
                    $.each(data, function (i, clinicresult) {
                        alert(clinicresult.clinicId);

                        // $('#clinicDropdownId').append($('<option></option>').val(this.ClinicId).text(this.ClinicName);
                        // alert(this.ClinicId)
                        $("#selectTestId").append($('<option></option>').val(clinicresult.clinicId).text(clinicresult.clinicName));
                    });

                    // checkListTest.multiselect("rebuild");


                    // $.each(data, function (i, clinicresult1) {
                    //     // var li = $('<li><input type="checkbox" name="' + clinicresult.clinicId + '" id="' + clinicresult.clinicId + '"/>' + '<label for="' + clinicresult.clinicId + '"></label></li>');

                    //     var li = $('<li><input type="checkbox"  id="' + clinicresult1.clinicId + '" /><lable for="' + clinicresult1.clinicId + '"></lable></li>');
                    //     li.find('label').text(clinicresult1.clinicName);
                    //     clinicDropdown.find('ul').append(li);


                    // });
                    // clinicDropdown.multiselect("rebuild");

                }
            });

        }


    </script>

</body>


</html>

<div>
    <a asp-action="Index">Back to List</a>
</div>



