@model TMSS.Web.Models.SurgeonViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create</h1>

<h4>SurgeonViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SurgeonId" class="control-label"></label>
                <input asp-for="SurgeonId" class="form-control" />
                <span asp-validation-for="SurgeonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SurgeonName" class="control-label"></label>
                <input asp-for="SurgeonName" class="form-control" />
                <span asp-validation-for="SurgeonName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatePPGranted" class="control-label"></label>
                <input asp-for="DatePPGranted" class="form-control" />
                <span asp-validation-for="DatePPGranted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateFirstCase" class="control-label"></label>
                <input asp-for="DateFirstCase" class="form-control" />
                <span asp-validation-for="DateFirstCase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ALSDate" class="control-label"></label>
                <input asp-for="ALSDate" class="form-control" />
                <span asp-validation-for="ALSDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProcedureId" class="control-label"></label>
                <input asp-for="ProcedureId" class="form-control" />
                <span asp-validation-for="ProcedureId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClinicId" class="control-label"></label>
                <input asp-for="ClinicId" class="form-control" />
                <span asp-validation-for="ClinicId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
