@model TMSS.Domain.Entities.Surgeon

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>Edit Details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SurgeonId" />
            <div class="
">
                <label asp-for="SurgeonFirstName" class="control-label">First Name</label>
                <input asp-for="SurgeonFirstName" class="form-control" />
                <span asp-validation-for="SurgeonFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SurgeonLastName" class="control-label">Last Name</label>
                <input asp-for="SurgeonLastName" class="form-control" />
                <span asp-validation-for="SurgeonLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Speciality" class="control-label">Speciality</label>
                <input asp-for="Speciality" class="form-control" />
                <span asp-validation-for="Speciality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatePPGranted" class="control-label">DatePPGranted</label>
                <input asp-for="DatePPGranted" class="form-control" />
                <span asp-validation-for="DatePPGranted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateStartedFirstCase" class="control-label">DateStartedFirstCase</label>
                <input asp-for="DateStartedFirstCase" class="form-control" />
                <span asp-validation-for="DateStartedFirstCase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ALSDate" class="control-label">ALSDate</label>
                <input asp-for="ALSDate" class="form-control" />
                <span asp-validation-for="ALSDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProcedureId" class="control-label">Procedure</label>
                @Html.DropDownListFor(m => m.ProcedureId, (IEnumerable<SelectListItem>)ViewBag.ProceduresClinic, "Select a Procedure", new { id = "procedureDropdownId",@onchange="onChangeFunction()" })
                <span asp-validation-for="ProcedureId" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="ClinicId" class="control-label">Clinic</label>
                @Html.DropDownListFor(m => m.ClinicId, (IEnumerable<SelectListItem>)ViewBag.Clinic, "Select a Clinic", new { id = "clinicDropdownId" })
                <span asp-validation-for="ClinicId" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        // function onChangeFunction() {
        //     debugger;
        //     var selectedClinic = $(this).val();
        //     if (selectedClinic !== "") {
        //         $.ajax({
        //             url: '@Url.Action("GetProcedures", "SurgeonController"),
        //             data: { ClinicId: selectedClinic },
        //             type: 'POST',
        //             success: function (data) {
        //                 var productsDropdown = $('#procedureDropdown');
        //                 productsDropdown.empty();
        //                 $.each(data, function (i, procedure) {
        //                     productsDropdown.append($('<option></option>').val(procedure.Value).text(procedure.Text));
        //                 });
        //             }
        //         });
        //     }
        // });
    });
    function onChangeFunction() {
        var selectedProcedureId = $("#procedureDropdownId :selected").text();
        $.ajax({
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            url: '/Surgeon/GetClinicbyProcedure',
            data: { ProcedureName: selectedProcedureId },
            type: 'GET',
            success: function (data) {
                var clinicDropdown = $('#clinicDropdownId');
                clinicDropdown.empty();
                var clinics = JSON.stringify(data);
                var stringify = JSON.parse(clinics);
                $.each(data, function (i, clinicresult) {

                    // $('#clinicDropdownId').append($('<option></option>').val(this.ClinicId).text(this.ClinicName);
                    // alert(this.ClinicId)
                    $("#clinicDropdownId").append($('<option></option>').val(clinicresult.clinicId).text(clinicresult.clinicName));
                });



            }
        });
    }
</script>

<div>
    <a asp-action="Index">Back to List</a>
</div>

