@model TMSS.Web.Models.SurgeonViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
<style>
    select:after {
        font-family: FontAwesome;
        content: "\f107";
        padding-left: 4px;
    }
</style>
<h3>Add Surgeon</h3>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Index">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="SurgeonId" type="hidden" class="form-control" />
                @*             <div class="form-group">
                <label asp-for="SurgeonId" class="control-label"></label>
                <input asp-for="SurgeonId" class="form-control" />
                <span asp-validation-for="SurgeonId" class="text-danger"></span>
                </div> *@
                <div class="form-group">
                    <label asp-for="SurgeonName" class="control-label"></label>
                    <input asp-for="SurgeonName" class="form-control" />
                    <span asp-validation-for="SurgeonName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DatePPGranted" class="control-label"></label>
                    <input asp-for="DatePPGranted" class="form-control" />
                    <span asp-validation-for="DatePPGranted" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateFirstCase" class="control-label"></label>
                    <input asp-for="DateFirstCase" class="form-control" />
                    <span asp-validation-for="DateFirstCase" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ALSDate" class="control-label"></label>
                    <input asp-for="ALSDate" class="form-control" />
                    <span asp-validation-for="ALSDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProcedureId" class="control-label"></label>
                    @* <select asp-for="ProcedureName" class="form-control" /> *@
                    @Html.DropDownListFor(m => m.ProcedureId, Model.Procedures, "--Please select--",new { @class="form-control" })
                    <span asp-validation-for="ProcedureId" class="text-danger"></span>
                </div>
                @*  <div class="form-group">
                <label asp-for="ProcedureName" class="control-label"></label>
                <select asp-for="ProcedureName" class="form-control" />
                <span asp-validation-for="ProcedureName" class="text-danger"></span>
                </div> *@
                <div class="form-group">
                    <label asp-for="ClinicId" class="control-label"></label>
                    @Html.DropDownListFor(m => m.ClinicId, Model.Clinics, "--Please select--",new { @class="form-control" })
                    <span asp-validation-for="ClinicId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="button" value="Create" class="btn btn-primary" onclick="SaveSurgeon()" />
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://unpkg.com/gijgo@1.9.14/js/gijgo.min.js" type="text/javascript"></script>

@* <i class="far fa-edit"></i> <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script> *@
@* @section Scripts{
    <partial name="_ValidationScriptsPartial" />
} *@
<script type="text/javascript">
    // var grid, dialog;
    // $(document).ready(function () {
    //     $.validator.unobtrusive.parse($("#clinicform"));
    //     GetClinics();
    //     // dialog = $('#staticBackdrop').dialog({
    //     //     uiLibrary: 'bootstrap5',
    //     //     iconsLibrary: 'fontawesome',
    //     //     autoOpen: false,
    //     //     resizable: false,
    //     //     modal: true
    //     // });


    // });
    // $('#btnSearch').on('click', function () {
    //     grid.reload({ clinicName: $('#txtClinicName').val(), clinicLocation: $('#txtClinicLocation').val() });
    // });
    // $('#btnClear').on('click', function () {
    //     $('#txtClinicName').val('');
    //     $('#txtClinicLocation').val('');
    //     grid.reload({ clinicName: '', clinicLocation: '' });
    // });
    // function Edit(e) {
    //     console.log(e.data);
    //     $('#ClinicId').val(e.data.id);
    //     $('#ClinicName').val(e.data.record.clinicName);
    //     $('#ClinicLocation').val(e.data.record.clinicLocation);
    //     // $('#PlaceOfBirth').val(e.data.record.PlaceOfBirth);
    //     // dialog.open('Edit Player');
    //     $('#staticBackdrop').modal('show');
    // }

    // function GetClinics() {
    //     grid = $('#tblClinic').grid({
    //         primaryKey: 'ID',
    //         dataSource: '/Clinic/Get',
    //         uiLibrary: 'bootstrap',
    //         columns: [
    //             { field: 'clinicName', title: 'Clinic Name', sortable: true },
    //             { field: 'clinicLocation', title: 'Clinic Location', sortable: true },
    //             // { field: 'PlaceOfBirth', title: 'Place Of Birth', sortable: true },
    //             { title: '', field: 'Edit', width: 34, type: 'icon', icon: 'far fa-edit', tooltip: 'Edit', events: { 'click': Edit } },
    //             // { title: '', field: 'Delete', width: 34, type: 'icon', icon: 'glyphicon-remove', tooltip: 'Delete', events: { 'click': Delete } }
    //         ],
    //         pager: { limit: 5, sizes: [2, 5, 10, 20] }
    //     });
    // }

    function SaveSurgeon() {
        // var selected = $("input[type='radio'][name='Gender']:checked");
        let surgeonViewModel = {
            SurgeonId: $('#SurgeonId').val(),
            SurgeonName: $('#SurgeonName').val(),
            DatePPGranted: $('#DatePPGranted').val(),
            DateFirstCase: $("#DateFirstCase").val(),
            ALSDate: $("#ALSDate").val(),
            ProcedureId: $("#ProcedureId").val(),
            ClinicId: $("#ClinicId").val()
            //  isRegular: $("#IsRegular").is(":checked")
            //  gender: selected.length > 0 ? selected.val() : 0,
        }
        console.log(surgeonViewModel);
        $.ajax({
            url: "/Surgeon/Create",
            method: "POST",
            data: { surgeonViewModel: surgeonViewModel },
            success: function (response) {
                dialog.close();
                grid.reload();
                //  GetClinics();
            },
            error: function (request, status, error) {
                alert(request.responseText);
            }
        });


    }

</script>
