@model TMSS.Domain.Entities.Complication

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>Edit Details</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ComplicationId" />
            <div class="form-group">
                <label asp-for="ComplicationName" class="control-label">Complication Name</label>
                <input asp-for="ComplicationName" class="form-control" />
                <span asp-validation-for="ComplicationName" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

