@model IEnumerable<TMSS.Domain.Entities.Complication>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>Complication Details</h4>

<p>
    <a asp-action="Create">Create New</a>
</p>
<style type="text/css">
    form {
        float: right;
    }

</style>


<form action="/Complication/Index" method="get">

    <div class="input-group md-form form-sm form-2 p1-0">
        <input name="searchstring" type="text" style="width:400px;" placeholder="Search" class="form-control" />
        <div class="input-group-btn">
            <button class="btn btn-primary" type="submit" onclick="fnComplicationDetails()">
                <i class="fas fa-search" aria-hidden="true"></i>
                @*                 <i class="fas fa-search text-grey" aria-hidden="true"></i>
                *@
            </button>
        </div>
    </div>
</form>
@* <form action="/Complication/Index" method="get">

    <div class="input-group md-form form-sm form-2 p1-0">
        <input name="searchstring" style="width:400px;align-items:end" type="text" placeholder="Search" />
        <div class="input-group-btn">

            <button class="btn btn-primary" type="submit" onclick="fnComplicationDetails()">
                <i class="fas fa-search text-grey" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</form> *@
<br />
<br />
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Table In HTML</title>

    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <div class="container">

        <table style="width:100%;">

            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ComplicationName)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ComplicationName)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ComplicationId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.ComplicationId">Details</a> |
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @section scripts{
            <script>
                function fnComplicationDetails() {
                    alert(hi)

                    $("Form").submit();
                }
            </script>
        }
    </div>
</body>
</html>
